<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142809498430-9auli75plaf4qoa4pqku67702eerda09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142809498430-9auli75plaf4qoa4pqku67702eerda09</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ5y46asSGjLjOGPNCk3vEcHTZja_VWzo</string>
	<key>GCM_SENDER_ID</key>
	<string>142809498430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizhub</string>
	<key>PROJECT_ID</key>
	<string>bizhub-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bizhub-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142809498430:ios:837ca9ba0807e62efd226f</string>
</dict>
</plist>