<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRTxLRJmBVlbpv9sCFfrxMnmScoisaAf8</string>
	<key>GCM_SENDER_ID</key>
	<string>218117721622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizhub</string>
	<key>PROJECT_ID</key>
	<string>bizhub-1ece2</string>
	<key>STORAGE_BUCKET</key>
	<string>bizhub-1ece2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218117721622:ios:caf95e88fae15d565fef37</string>
</dict>
</plist>